/******************************************
/* CSS
/*******************************************/

@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@200;400;700&display=swap');

/* Box Model Hack */

/******************************************
/* LAYOUT
/*******************************************/
 body {
  font-family: 'Roboto Slab', serif;
}

a:hover {
  color: rgb(32, 211, 74);
}

.hidden {
  display: none;
}

/******************************************
/* ADDITIONAL STYLES
/*******************************************/

